.title {
	font-size: 1.7em;
	font-weight: 600;
	display: block;
}
h1 { font-size: 1.4em; }
h2 { font-size: 1.2em; margin-top: 2em; }
code, .code { 
	font-family: monospace;
	padding: 0.125em 0.5em;
}
p, ol, .tip { margin-bottom: 0.5em; }
code {
	color: #555555;
	background-color: #efefef;
}
.emissions > li { margin-top: 1em; display: grid; grid-template-columns: 65% 1fr; grid-gap: 1em; }
.external li { list-style: square inside; }
img.screenshot { border: 1px solid silver; max-width: 100%; }
.tip {
	color: #31708f;
	background-color: #d9edf7;
	border: 1px solid #bce8f1;
	padding: 1em;
}
.tip h4 {
	font-weight: bold;
	margin-bottom: 0.5em;
}
.tip h4::before {
	content: "\24d8";
	margin-right: 0.5em;
	font-weight: bold;
}
.small {
	font-size: 0.8em;
	line-height: 1.2em;
}

@media only screen and (max-width: 640px) {
	h1 { line-height: 1.5em; }
	.emissions > li { grid-template-columns: 100%; }
	.emissions > li div:first-child { grid-row: 2; }
}